body {
    padding: 0;
    margin: 0;

    font-family: 'Cuprum', 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;

    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #F3F7F8;

    height: 320px;
}

.header__user-navigation {
    padding: 0;
    margin: 0;

    height: 42px;

    background-color: #293449;
}

.user-navigation__wrapper {
    display: flex;
    align-items: center;

    padding: 0;
    margin: 0;

    height: 42px;
}

.user-navigation__logo {
    padding: 0;
    margin: 0;
    margin-top: 5px;

    width: 220px;
    height: 47px;

    background-image: url('../img/background-logo.png');
}

.user-navigation__logo:active {
    background-image: url('../img/background-logo__onclick.png');
}

.user-navigation__logo > img {
    width: 108px;
    height: 18px;

    margin-left: 55px;
    margin-top: 13px;
}

.form__search {
    position: relative;

    height: 42px;
    width: 271px;
}

.search-img {
    position: absolute;

    top: 12px;
    left: 17px;

    opacity: .3;
}

.search__input:hover ~ .search-img {
    opacity: 1;
}

.search__input {
    box-sizing: border-box;

    width: 271px;
    height: 42px;

    padding-left: 42px;
    padding-right: 10px;

    border: none;
    outline: none;

    background-color: inherit;

    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Cuprum';
}

.search__input::placeholder {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Cuprum';
    color: #fff;
}

.search__input:focus {
    background-color: #fff;
}

.search__input:focus ~ .search-img path {
    fill: #EE3643;
    opacity: 1;
}

.user-navigation__bookmarks,
.user-navigation__basket {
    position: relative;
    box-sizing: border-box;
    width: 150px;
    height: 42px;

    padding: 9px 24px 9px 43px;

    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}

.user-navigation__bookmarks::before,
.user-navigation__basket::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 20px;

    width: 14px;
    height: 16px;

    background-image: url('../img/header-bookmarks.png');
    opacity: .3;
}

.user-navigation__bookmarks:hover::before,
.user-navigation__basket:hover::before {
    opacity: 1;
}

.user-navigation__bookmarks:active,
.user-navigation__basket:active {
    background-color: #161D29;
    opacity: .3;
}

.user-navigation__basket {
    padding: 9px 26px 9px 49px;
}

.user-navigation__basket::before {
    width: 15px;
    height: 15px;

    background-image: url('../img/icon-cart.png');
}

.user-navigation__order {
    width: 150px;
    height: 42px;

    margin: 0;
    padding: 0;

    text-align: center;

    font-family: 'Cuprum';
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    background-color: #63A63E;
    color: #fff;
}

.user-navigation__order:hover {
    background-color: #5FBB2D;
}

.user-navigation__order:active {
    color: rgba(255, 255, 255, 0.5);
}

.header-description__wrapper {
    display: flex;
}

.header-description__title {
    display: block;
    width: 197px;

    margin-left: 30px;
    margin-top: 37px;

    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #EE3643;
}

.header-description__contacts {
    margin: 0;
    margin-top: 41px;
    margin-left: 90px;
    padding: 0;
}

.header-description__number {
    position: relative;

    display: block;
    box-sizing: border-box;

    width: 270px;
    height: 45px;

    margin: 0;
    padding: 0;
    padding-left: 25px;

    border: 3px solid #fff;

    text-align: center;
    font-family: "Cuprum";
    font-weight: 700;
    font-size: 21px;
    line-height: 40px;
    color: #EE3643;
    background-color: transparent;
}

.header-description__number::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 35px;

    width: 19px;
    height: 19px;
    background-image: url('../img/icon-phone.png');
}

.header-description__text {
    margin: 0;
    margin-left: 10px;
    padding: 0;

    font-family: 'Cuprum';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #32425C;
}

.header__login-registration {
    margin: 0;
    margin-top: 41px;
    margin-left: 69px;
    padding: 0;
}

.header__login,
.header__registration {
    display: inline-block;
    box-sizing: border-box;

    position: relative;

    width: 121px;
    height: 45px;

    margin: 0;
    padding: 0;
    padding-left: 15px;

    background-color: #fff;

    font-family: 'Cuprum';
    font-weight: 400;
    font-size: 21px;
    line-height: 45px;
    text-align: center;
    color: #000;
}

.header__registration {
    width: 150px;
    padding: 0;
    margin-left: 6px;
}

.header__login:hover,
.header__registration:hover {
    color: #EE3643;
}

.header__login:active,
.header__registration:active {
    color: #C5C5C5;
}

.header__login::before {
    content: '';

    position: absolute;
    top: 14px;
    left: 20px;

    width: 19px;
    height: 17px;

    background-image: url('../img/icon-login.png');
    opacity: .3;
}

.header__login:hover::before {
    opacity: 1;
}

.header__login:active::before {
    opacity: .3;
}

.login__main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    width: 299px;
    height: 45px;

    padding-left: 15px;
    padding-right: 17px;

    background-color: #fff;
    text-align: center;
}

.login__name {
    position: relative;

    width: 227px;

    margin: 0;
    padding: 0;

    text-align: right;

    font-family: 'Cuprum';
    font-weight: 400;
    font-size: 21px;
    line-height: 45px;
    color: #000;    
    opacity: .2;
}

.login__name::before {
    content: '';

    position: absolute;
    top: 13px;
    left: 0;

    width: 20px;
    height: 18px;

    background-image: url('../img/icon-user.png');
}



.login__button-logout {
    width: 20px;
    height: 17px;

    margin: 0;
    padding: 0;

    background-image: url('../img/icon-logout.png');

    opacity: .2;
}

.login__name:hover,
.login__button-logout:hover {
    opacity: 1;
}

.login__name:active,
.login__button-logout:active {
    opacity: .1;
}

.login__footer-nav {
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0;
    margin-top: 7px;

    list-style: none;
}

.footer-nav__link {
    display: block;
    margin-left: 16px;
    margin-right: 16px;

    font-family: 'Cuprum';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #32425C;
}

.footer-nav__item:nth-child(2) .footer-nav__link {
    position: relative;
}

.footer-nav__item:nth-child(2) .footer-nav__link::before {
    content: '';

    position: absolute;
    top: 7px;
    left: -17px;

    width: 4px;
    height: 4px;

    border-radius: 50%;

    background-color: #32425C;
}

.footer-nav__link:hover {
    color: #EE3643;
}

.footer-nav__link:active {
    color: #C5C5C5;
}

.header__main-navigation {
    margin-top: 40px;
    margin-bottom: 60px;
}

.main-navigation__list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 940px;
    height: 60px;

    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #32425C;
    box-shadow: inset 0px -5px 0px #293449;
}

.main-navigation__link {
    display: inline-block;

    height: 60px;

    padding-left: 30px;
    padding-right: 30px;

    font-family: 'Cuprum';
    font-weight: 400;
    font-size: 18px;
    line-height: 60px;
    color: #fff;
}

.main-navigation__link:hover {
    background-color: #293449;
}

.main-navigation__link:active {
    background-color: #1D2739;
    box-shadow: inset 0px -5px 0px #293449;
    color: rgba(255, 255, 255, 0.5);
}



/*Main*/
.main__offer {
    width: 940px;
    height: 409px;
    
    margin-top: 59px;
}

.offer__list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    grid-gap: 20px 20px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.orange {
    background-color: #FFBF47;
}

.blue {
    background-color: #3BBCE3;
}

.purple {
    background-color: #DC91D8;
}

.green {
    background-color: #8ED78F;
}

.offer__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    box-sizing: border-box;

    width: 300px;
    height: 123px;

    padding-top: 20px;
    padding-left: 22px;
    padding-bottom: 21px;
}

.offer__text {
    margin: 0;
    padding: 0;

    font-family: 'Cuprum';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.offer__link {
    width: 135px;
    height: 38px;

    margin: 0;
    padding: 0;

    text-align: center;

    background-color: rgba(255, 255, 255, 0.3);

    font-family: 'Cuprum';
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    text-transform: uppercase;
    color: #fff;
}

.offer__link:hover {
    background-color: rgba(197, 197, 197, .3);
}

.offer__link:active {
    background-color: rgba(169, 169, 169, .3);
}

.offer__img {
    margin-top: 10px;
}

.offer__item:nth-child(2) .offer__img {
    margin-top: 15px;
}

.new-item {
    background-image: url('../img/new.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.offer__slider {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    box-sizing: border-box;
    width: 620px;
    height: 266px;

    padding-top: 23px;
    padding-left: 24px;
    padding-right: 20px;
}

.offer__slider-perforator {
    background-image: url('../img/offer__bdckground-perforator.png');
}

.offer__slider-drill {
    background-image: url('../img/offer__bdckground-drel.png');
}

.offer__title {
    padding: 0;
    margin: 0;

    font-family: 'Cuprum';
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
}

.offer__header-text {
    margin: 0;
    margin-top: 5px;
    padding: 0;

    font-family: 'Cuprum';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.offer__slider-buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 26px;
}

.offer__button-left {
    width: 22px;
    height: 40px;

    border: none;

    background-image: url('../img/slider-left.png');
    background-color: transparent;
    cursor: pointer;
}

.offer__button-right {
    width: 22px;
    height: 40px;

    border: none;

    background-image: url('../img/slider-right.png');
    background-color: transparent;
    cursor: pointer;
}

/* .offer__slider {
    grid-area: slider;
} */

.offer__slider-footer {
    display: flex;
    align-items: flex-end;
}

.offer__slider-link {
    display: block;
    width: 192px;
    height: 38px;

    margin: 0;
    margin-top: 47px;
    margin-right: 79px;
    padding: 0;

    background-color: #EE3643;

    font-family: 'Cuprum';
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.offer__slider-link:hover {
    background-color: #CA2C37;
}

.offer__slider-link:active {
    background-color: #BA2732;
}

.offer__slider-mark {
    width: 10px;
    height: 10px;

    margin-right: 10px;
    margin-bottom: 6px;

    border: none;

    background-image: url('../img/dots.png');
    background-repeat: no-repeat;
    background-color: transparent;

    cursor: pointer;
}

.offer__slider-active {
    background-image: url('../img/dots\ active.png');
}
